	<h1>About Us</h1>
	<p>The thousands of students in the greater Boston Area who live off campus inspired the platform for Sub It. 
	Every summer, students living off campus leave their off campus housing and sublease their rooms to others, 
	who come into Boston. Sub It aims to help these students either find a room to stay in for their time in Boston, 
	or to sublet their own place while away. For both locals and internationals, Sub It offers a safe space to find 
	your ideal temporal home away from home.
	
	Sub It was founded in Boston University in 2015 and is currently based in Boston, Massachusetts. 
	Sub It is a student-housing marketplace that focuses its efforts on subletting! </p>
