<div id="blue">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
			<h1>LEARN MORE ABOUT US</h1>
			<p>WE ARE COOL PEOPLE</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!--  bluewrap -->

<div class="container" id="aboutus">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3"
			<p>Sub It was inspired by the thousands of students in the greater Boston Area who leave their off campus housing and sublease their rooms to others in the summer. We aim to help these students either find a room to stay in for their time in Boston, 
			or to sublet their own place while away. For both local and international students, Sub It offers a safe space to find 
			their ideal temporal home away from home. </p>
			
			<p>Sub It was founded in Boston University in 2015 and is currently based in Boston, Massachusetts.</p> 
			
			<!-- WE CAN PUT THIS ON THE FRONT PERHAPS: Sub It is a student-housing marketplace that focuses its efforts on subletting! </p> -->
		</div>
	</div><!-- row -->
	<h1 class="centered">Our Founders</h1>

	<div id="founders"> 
		<div class="row">
			<div class="col-lg-6">
			<%=image_tag("joanna.jpg", width: "140", class: "img-circle") %>
			<h2 class="centered">Joanna Kimszal</h2>
			<p>This is a description of what your background is, plus your role on the team. We can include just about anything that you want; this is totally your choice. The picture can easily be changed as well, don't worry!</p>
			</div>
			<div class="col-lg-6">
			<%=image_tag("mara.jpg", width: "140", class: "img-circle") %>
			<h2 class="centered">Mara Lenco</h2>
			<p>This is a description of what your background is, plus your role on the team. We can include just about anything that you want; this is totally your choice.</p>
			</div>
		</div>
	</div>
</div>











