<div id="blue">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
			<h1>HOW CAN WE HELP YOU?</h1>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!--  bluewrap -->

<div class="container" id="faq"> 
	<div class="row">
		<div class="col-lg-12">
			<h3>Why should I sublet through Sub It rather than social media?</h3>
			<p>A Sub It account is restricted to individuals with a .edu email, making this community accessible to students from different universities around the globe. Users have access to individual profiles, and all payments are focused on the site.</p>
		</div>
		<div class="col-lg-12">
			<h3>Is subletting legal?</h3>
			<p>Once a user posts his/her place on Sub It, they attest to the fact that the space is subletted legally and they have their landlord's approval. We recommend that all the users who are considering posting a room to sublease, check their lease and get approval from their landlord. Sub It provides a standard Massachusetts subleasing form for both parties to sign.</p>
		</div>
		<div class="col-lg-12">
			<h3>Is the payment system secure?</h3>
			<p>Yes, all payments on the website will be handled by third party professional companies that specialize in secure payment transactions.</p>
		</div>
	</div>
</div>
