<div class="homepage">
	<div class="jumbotron" id="homeJumbo">
		<h1>SubIt</h1>

		<%= render 'posts/search_form' %>

		<div class="browse-all text-center">
			<a href="<%= url_for posts_path %>">
				<div class="btn btn-primary btn-md">Browse all</div>
			</a>
		</div>
	</div>
</div>