@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* ------------------------------------*/
    /* FONTS */
/* ------------------------------------*/

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}


/* ------------------------------------*/
    /* TITLES */
/* ------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* ------------------------------------*/
    /* PARAPGRAPH AND TYPOGRAPHIC*/
/* ------------------------------------*/
p {
    line-height: 28px;
    margin-bottom: 25px;
}
.centered {
    text-align: center;
}


/* ------------------------------------*/
    /* LINKS */
/* ------------------------------------*/

a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 
/* ------------------------------------*/
    /* NAVBAR */
/* ------------------------------------*/


.navbar {
  
  font-weight: 800;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
  background: #ff7878
}

.navbar-inverse .navbar-brand a{
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
  color:#f85c37;
}




/* ------------------------------------*/
    /* HOMEPAGE */
/* ------------------------------------*/

#headerwrap h1 { 
	margin-top: 125px;
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align:center;
}

#headerwrap {
	background: url('boston.jpg') no-repeat center top;
  padding-top:20px;
  text-align:center;
  min-height: 650px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#serviceswrap{ 
  padding-bottom:35px;
}
.home-icons{
  text-align:center;
  color:#f85c37;
  font-size:50px;
}

#calltoaction {
 background: #3498db;
  padding-top: 35px;
  padding-bottom: 35px;

  h1 {
    color: white;
    font-weight: 700;
  } 
}

.post_card:hover {
  cursor: pointer;
}
.container{
	margin-bottom: 6px;
}

.list-group .form-control {
	width: 33%;
}

.room-image{
	height: 100%;
	width: 100%;
}

img.user-img {
  // max-height: 100px;
  // width: 100%;
  height: 100%;
  width: auto;
  margin: auto auto;
  display: block;
}


.search_form {
  padding-top: 40px;
  text-align: center;

  .form-start-lease {
    display: inline;
  }

  .form-end-lease {
    display: inline;
    padding-left: 50px;
  }

  .form-search-btn {
    display: inline;
    padding-left: 30px;
  }
  color:white;
}

.big-search-button-row {
  margin-top: 20px;
}

.big-search-button-row > input {
  width: 200px;
}

.browse-all {
  padding-top: 25px;
}

.faux-date-grouping {
  display: inline-block;
}

.faux-form-control .faux-date-grouping select {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.faux-form-control .faux-date-grouping select:first-child {
  border-radius: 4px 0 0 4px;
  -moz-border-radius:4px 0 0  4px;
  -webkit-border-top-left-radius:4px; 
  -webkit-border-top-right-radius:0; 
  -webkit-border-bottom-left-radius:4px; 
  -webkit-border-bottom-right-radius:0; 
  -webkit-appearance: none;
  margin-right: -4px;
}

.faux-form-control .faux-date-grouping select:last-child {
  border-radius:0 4px 4px 0;
  -moz-border-radius:0 4px 4px 0;
  -webkit-border-top-left-radius:0; 
  -webkit-border-top-right-radius:4px; 
  -webkit-border-bottom-left-radius:0; 
  -webkit-border-bottom-right-radius:4px; 
  -webkit-appearance: none;
  margin-left: -4px;
}

.faux-form-control .faux-date-grouping select:nth-child(2){
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-top-left-radius:0; 
  -webkit-border-top-right-radius:0; 
  -webkit-border-bottom-left-radius:0; 
  -webkit-border-bottom-right-radius:0; 
  -webkit-appearance: none;
}

option, select {
  margin: 0; padding: 0;
}

.item > img {
	height: 200px;
	width: 100%;
}

.payment-form button {
	margin-top: 10px;
}

/* ------------------------------------*/
        /* ABOUT US */
/* ------------------------------------*/

#titles {
  padding-top: 25px;
  
  h1 {
    color: #f85c37;
    font-weight: 700;
  }
}

#aboutus {
  padding-bottom:35px;
}

#founders {
  padding-top:35px;
  text-align:center;
}

/* ------------------------------------*/
        /* HELP*/
/* ------------------------------------*/


#faq { 
  padding-top:35px;
  padding-bottom:113px;
}

/* ------------------------------------*/
        /* LOGIN */
/* ------------------------------------*/

#login {
  padding-top:35px;
  padding-bottom:212px;

  .login-btn {
    margin-bottom: 15px;
  }

  p{
    margin-bottom: 10px;
  }
}

/* ------------------------------------*/
        /* SETTINGS */
/* ------------------------------------*/

#optout{
  margin-top:25px;
}

#settings-form{
  padding-bottom: 25px;
}

.detail-action-buttons {
  margin: 25px auto;
}



/* ------------------------------------*/
        /* LISTING CSS BELOW */
/* ------------------------------------*/

.neighbor-search-group {
  margin-bottom: 10px;
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.card, .dialog {
  position: relative;
  display: inline-block;
  width: 95%;
  height: 150px;
  vertical-align: top;
  background-color: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  margin: 25px 5% 25px 5%;

}

.card:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1); 
}

.dialog {
  box-sizing: border-box;
  padding: 16px;
}

.dialog > .content {
  height: 170px;
  font-size: 0.9em;
}

.dialog > .content > .title {
  font-size: 1.3em;
}

.dialog > .button {
  width: 90px;
  float: right;
}
.row {
	overflow: hidden;
  padding: 0 !important;

}
.subletPic {
  position: relative;
  left: -12px;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 !important;
}

.post-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 !important;

}
.subletPrice{
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
  display: block;
}
.subletPrice h1{
	margin-top: 12%;
  color: #6CCFCA;

}
.subletNeighborhood h3{
	margin-top: 45%;
}

.row.carousel {
	margin: 0;
}
.owl-carousel div {
	margin: 3px;
}

.owl-carousel div img {
	display: block;
	width: 100%;
	height: auto;
}


/* ------------------------------------*/

/* ------------------------------------*/
        /* FORM CSS BELOW */
/* ------------------------------------*/
@media (min-width: 768px) {
  .post_price input {
    width: 50% !important;
  } 
}


/* ------------------------------------*/

/* ------------------------------------*/
        /* DETAIL CARD CSS BELOW */
/* ------------------------------------*/
.detail-header-row {
  height: 350px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  overflow: visible;
}
.detail-header-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.detail-header-image img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.price-info {
  position: absolute;
  z-index: 3;
  right: 0px;
  text-align: center;
  border-radius: 0 0 0 10px;
  width: 25%;
  height: 100px;
  overflow: hidden;
  background-color: rgba(127, 214, 211, 1.0);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.detail-info .row, .detail-available .row, .detail-about .row .detail-images .row {
  padding: 10px 10px;
}

.detail-info li, .detail-info ul{
  list-style-type: none;
  margin-bottom: 10px;
}


$prof-pic-size: 200px;

.detail-profile-picture {
  position: absolute;
  z-index: 4;
  left: 90px;
  bottom: -1*$prof-pic-size/3;
}

.detail-profile-picture > div {
  width: $prof-pic-size;
  height: $prof-pic-size;
  border-radius: $prof-pic-size/2;
  background-color: black;
  overflow: hidden;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.detail-profile-picture div .profile-image-container {
  height: 100%;
  overflow: hidden;
}

.profile-image-container img {
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
}


/* ------------------------------------*/

/* ------------------------------------*/
        /* MY_PROFILE CSS BELOW */
/* ------------------------------------*/

.listings-panel .post_card {
  width: 90%;
  margin: 10px 5%;
}



/*

#profile-header div:nth-child(2) h1 {
  font-size: 42px !important;
  padding-right: 10px;
  padding-top: 20px;
}


*/

.profile-user-img {
  overflow: hidden;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 18px;
  overflow: none;
  background-color: rgba(127, 214, 211, 0.2);
  padding: 0px;
  margin-top:25px;
}

.profile-user-img img {
  width:  auto;
  height: 150px;
  float: left;
}

// .inquiry-buttons 

.inquiry-buttons div {
  display: inline-block;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.contact-button a:hover, .contact-button a:visited, .contact-button a {
  text-decoration: none;
  color: white;
}

/* ------------------------------------*/

/* ------------------------------------*/
    /* SIGN IN / SIGN UP CSS BELOW */
/* ------------------------------------*/

.link-action-buttons a {
  display: inline-block;
}

#row-of-user-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pic{
  margin-top:15px;
} 

/* ------------------------------------*/

/* ------------------------------------*/
      /* HELPER GENERIC CSS BELOW */
/* ------------------------------------*/

.ptb {
  padding-top:35px;
  padding-bottom:35px;
}

.mtb{
  margin-top:35px;
  margin-bottom:35px;
}

.panel {
  overflow: hidden;
}

.big-search-bar {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-appearance: none;
}

.move-left {
  margin-right: 10px;
}

.move-right {
  margin-left: 10px;
}

.give-row-room .row {
  margin-left: 10px;
  padding: 10px !important;
}

.btn-primary {
    color:#fff;
    background-color: #f85c37;
    border-color:#f85c37;
    border-radius: 50px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 24px 13px 24px
}

.inline-form-button {
  float: left;
  clear: both;
  margin-right: 4px;
  display: inline-block;
}

.button-description {
  line-height: 70%;
}

.small-font {
  font-size: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ------------------------------------*/

/* FOOTER */
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2f2f2f;
  h1 { color: white;
    text-transform: uppercase;
  }

  p{ color:white;

  }

  h5 {
    margin-top: 30px;
    letter-spacing: 1px;
  }

  a {
    color: #b9b9b9;
  }

  a:hover {
    color: #03C9A9;
  }

  i {
  font-size: 30px;
  padding: 20px;
  }
}


