<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <p class="centered">
                    Built in Boston, MA.
                </p>
                <div class="centered">
                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div><!-- /col-lg-4 -->
        </div>  
    </div>
</div>